@import "variables";
@import "mixins";
@import "reboot";

.container {
  margin: 120px 65px;
  padding: 30px;
  min-height: 788px;
  background-color: $white;
}

.profile {
  position: relative;
  margin: 0;
  padding: 70px 0 10px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: 3px solid $gray-light;
}

.profile-avatar {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -105px;
  left: calc(50% - 75px);
  border-radius: 50%;
}

.profile-title {
  font-size: 2.5em;
}

.profile-detail {
  font-size: 1.5em;
}

.about-me {
  margin: 20px 0;
}

.section-header {
  color: $primary-color;
}

.about-detail {
  font-size: 1.5em;
}

.educations h3,
p {
  padding: 0;
  margin: 0;
}

.educations {
  margin-top: 30px;
}

.education {
  display: flex;
  margin-bottom: 20px;
  font-size: 1.3em;
}

.edu-content {
  padding: 10px 20px;
  margin-left: 5%;
  width: 100%;
  background-color: $gray-light;
}
